<div class="footercon">
  <p>（C）　2019　Something Good </p>
<nav>
  <ul>
    <li><%=link_to "●HOME","root",class:"foot"%></li>
  　<li><%= link_to "●NEWS","#",class:"foot"%></li>
    </ul>
</nav>
  </div>
