<div class="index" >



  <div class="indexcon">
<h1 id="mozi">Something Good</h1>
<ul>
<li>最新の更新されたデータが挿入される</li>
<li>最新の更新されたデータが挿入される</li>
<li>最新の更新されたデータが挿入される</li>
<li>最新の更新されたデータが挿入される</li>


</ul>
    </div>
    <div class="twoimage"></div>
<span class="pencil"><%= image_tag("鉛筆.PNG",alt:"pencil",size:"180x300",class:"cafe")%></span>
<span class="note">  <%=image_tag("クリップ.PNG",alt:"note",size:"250x350",class:"clip")%>
</span>




  </div>
