<div class="index" >



  <div class="indexcon">
<h1>Something Good</h1>
<p>最新の更新されたデータが挿入される</p>
<p>最新の更新されたデータが挿入される</p>
<p>最新の更新されたデータが挿入される</p>
    </div>
    <div class="twoimage"></div>
<span class="pencil"><%= image_tag("鉛筆.PNG",alt:"pencil",size:"180x300")%></span>
<span class="note">  <%=image_tag("手帳.PNG",alt:"note",size:"400x500")%>
</span>




  </div>
